<div class="container-fluid" style="float: left;">
    <div class="card-group">
        <div class="card">
            <img src="../../assets/Images/locksystem.png" class="card-img-top" alt="footerICSWLogo">
            <div class="card-body">
                <h5 class="card-title">ICSW</h5>
                <p class="card-text">ICSW is a leading and trusted cyber security consulting partner that specializes in securing the IT infrastructure and assests of some of the leading enterprises globally.</p>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/Images/footerMap.PNG" class="card-img-top" alt="footerLocationMap">
            <div class="card-body">
                <h5 class="card-title">Location</h5>
                <p class="card-text"><span style="font-weight: bold; font-size: 110%; text-decoration: gray underline;">INDIA</span> : R.K. Puram, Sector - 5 <br> New Delhi, Zip - 110022</p>
                <p class="card-text"><span style="font-weight: bold; font-size: 110%; text-decoration: gray underline;">NEW YORK</span> : New RochelleNew York USA<br> York, USA</p>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/Images/wire.png" class="card-img-top" alt="footerMostRight">
            <div class="card-body">
                <p class="card-text">Security is first Priority</p>
                <br>
                <h5 class="legal" style="font-family: 'Courier New', Courier, monospace;">© 2019-2020 ICSW Private Limited-All Rights Reserved</h5>
            </div>
        </div>
    </div>
</div>