<br>
<br>
<br>
<br>
<br>
<div class="login-wrap mainform">
    <div class="login-html secondary">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Career</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
        <div class="login-form">
            <div class="sign-in-htm">
                <div>
                    <p class="sectionHead">Contact Section</p>
                </div>
                <div class="group">
                    <label for="text" class="label">Full Name</label>
                    <input id="pass" type="text" class="input" [(ngModel)]="eName">
                </div>
                <div class="group">
                    <label for="text" class="label">Address</label>
                    <input id="pass" type="text" class="input" [(ngModel)]="eAddress">
                </div>
                <div class="group">
                    <label for="text" class="label">Country/Region</label>
                    <input id="pass" type="text" class="input" [(ngModel)]="eCountry">
                </div>
                <div class="group">
                    <label for="text" class="label">State</label>
                    <input id="pass" type="text" class="input" [(ngModel)]="eState">
                </div>
                <div class="group">
                    <label for="text" class="label">Email</label>
                    <input id="pass" type="email" class="input" [(ngModel)]="eEmail">
                </div>
                <div class="group">
                    <label for="text" class="label">Phone Number</label>
                    <input id="pass" type="text" class="input" [(ngModel)]="ePhone">
                </div>

                <!-- ////////////////////////////// -->
                <div>
                    <p class="sectionHead">Higher Education</p>
                </div>
                <div class="group">
                    <label for="text" class="label">School/Collage Name</label>
                    <input id="pass" type="text" class="input" [(ngModel)]="hSchool">
                </div>
                <div class="group">
                    <label for="text" class="label">Degree</label>
                    <input id="pass" type="text" class="input" [(ngModel)]="hDegree">
                </div>
                <div class="group">
                    <label for="text" class="label">Degree Status</label>
                    <input id="pass" type="text" class="input" [(ngModel)]="hDegreeStatus">
                </div>
                <div class="group">
                    <label for="text" class="label">Area Of Study</label>
                    <input id="pass" type="text" class="input" [(ngModel)]="hArea">
                </div>
                <div class="group">
                    <label for="text" class="label">Country</label>
                    <input id="pass" type="text" class="input" [(ngModel)]="hCountry">
                </div>
                <!-- ////////////////////////////////// -->
                <div>
                    <p class="sectionHead">Work Experience</p>
                </div>
                <div class="group">
                    <label for="text" class="label">Employer Name</label>
                    <input id="pass" type="text" class="input" [(ngModel)]="wEmployer">
                </div>
                <div class="group">
                    <label for="text" class="label">Job Title</label>
                    <input id="pass" type="text" class="input" [(ngModel)]="wJobTitle">
                </div>
                <div class="group">
                    <label for="text" class="label">Starting Month</label>
                    <input id="pass" type="text" class="input" [(ngModel)]="wStarting">
                </div>

                <div class="group">
                    <label for="text" class="label">State/City</label>
                    <input id="pass" type="text" class="input" [(ngModel)]="wState">
                </div>
                <div class="group">
                    <label for="text" class="label">Country</label>
                    <input id="pass" type="text" class="input" [(ngModel)]="wCountry">
                </div>


                <div class="group">
                    <input type="submit" (click)="addJobData()" class="button" value="Submit">
                </div>
                <div class="hr"></div>
                <!-- <div class="foot-lnk">
                    <a href="#forgot">Forgot Password?</a>
                </div> -->
            </div>
            <!-- <div class="sign-up-htm">
                <div class="group">
                    <label for="user" class="label">Username</label>
                    <input id="user" type="text" class="input">
                </div>
                <div class="group">
                    <label for="pass" class="label">Password</label>
                    <input id="pass" type="password" class="input" data-type="password">
                </div>
                <div class="group">
                    <label for="pass" class="label">Repeat Password</label>
                    <input id="pass" type="password" class="input" data-type="password">
                </div>
                <div class="group">
                    <label for="pass" class="label">Email Address</label>
                    <input id="pass" type="text" class="input">
                </div>
                <div class="group">
                    <input type="submit" class="button" value="Sign Up">
                </div>
                <div class="hr"></div>
                <div class="foot-lnk">
                    <label for="tab-1">Already Member?</label>
                </div>
            </div> -->
        </div>
    </div>
</div>