<div class="HeadName container-fluid" style="margin-top: 10%;">
    <h1 class="head col-lg-12 col-md-12 col-sm-12" style="text-align: center; margin-top: 3%; text-decoration: #4285F4 underline overline; ">Risk Advisory</h1>
</div>
<br>
<br>

<img src="../../assets/Images/RiskAdvisor.jpg" class="vaptImage" alt="Responsive image" style="width: 100%; background-size: cover;">

<br>
<br>

<div class="vaptMain" style="width: 80%; margin: 10%;">
    <h1 style="text-decoration: #4285F4 underline; font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Risk Advisory</h1>
    <br>

    <hr style="border: 2px solid lightgray; border-radius: 1px;">
    <br>

    <p style="font-family: 'Courier New', Courier, monospace; font-size:100%;">Don’t hesitate to discuss your security issues with us as we offer the best-trusted solutions. In this digital age, everything that relies upon cyberspace is conceivably at risk. An information asset register is maintained to minimize valuable data
        duplication, stimulate better results. Risk assessment activities are generally used to identify and evaluate all exploitable security risks and vulnerabilities in the system before defining the risk area of the organization to plan for risk assessment
        & diagnosis actions.</p>

    <br>
    <br>

    <div class="container-fluid " style="width: 100%;">
        <h2 style="text-align: center; text-decoration: #0F9D58 underline; font-family: Arial, Helvetica, sans-serif;">Our Methodology</h2>
        <br>

        <div class="jumbotron">
            <p>ICSW team would be using various methodologies to develop and review the strategy, organization and governance, enterprise architecture and threat intelligence which would be focused on protecting what matters.</p>
        </div>

        <div class="jumbotron">
            <p>Risk appetite needs to be developed and compliance would be validated to ensure cyber risks are appropriately managed and thus continuously improved.</p>
        </div>

        <div class="jumbotron">
            Validate 3rd party contracts for robust Cyber Security mandates, review partner and supplier management systems.
        </div>

        <div class="jumbotron">
            <p>ICSW would assess the awareness of the employees using the Social Engineering Attack and check to what extent a security culture is embedded across the organization and consider insider threats – intentional or inadvertent – this would help
                a team to identify the people and moments that matter.</p>
        </div>

        <div class="jumbotron">
            <p>ICSW team would help in building and will ensure that incident response, forensics, business continuity, and communication plans are fit for the purpose and would help for future cyber Assaults.</p>
        </div>
    </div>