<!-- <div class="col-lg-4">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Subject</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Message</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let obj of arr">
                <th scope="row">1</th> -->
<!-- <td>{{obj.name}}</td>
<td>{{obj.subject}}</td>
<td>{{obj.phone}}</td>
<td>{{obj.email}}</td>
<td>{{obj.message}}</td>
<td><button type="submit" [routerLink]="['/update',obj._id]">Update</button></td>
<td><button type="submit" (click)="delData(obj._id)">Delete</button></td>
</tr>
</tbody>
</table>
</div> -->