<div class="HeadName container-fluid" style="margin-top: 10%;">
    <h1 class="head col-lg-12 col-md-12 col-sm-12" style="text-align: center; margin-top: 3%; text-decoration: #4285F4 underline overline; ">Mobile Application Security Assessment</h1>
</div>
<br>
<br>

<img src="../../assets/Images/mobile.jpg" class="vaptImage" alt="Responsive image" style="width: 100%; background-size: cover;">

<br>
<br>

<div class="vaptMain" style="width: 80%; margin: 10%;">
    <h1 style="text-decoration: #4285F4 underline; font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Highly Secured Mobility Managemen</h1>
    <br>

    <hr style="border: 2px solid lightgray; border-radius: 1px;">

    <br>
    <p style="font-family: 'Courier New', Courier, monospace; font-size:100%;">Every enterprise or business either general, corporate or e-commerce grabs most of the traffic from the mobile devices. That's why more than 1.26 lakh applications are uploaded every month. Each and Every website either corporate, eCommerce or business
        have their mobile application for complete exploitation. One can get protected by having Mobile application security assessment. Mobile applications are equally at risk as of web application and desktop applications.<br><br> It is a finding process
        as to how the vulnerability impacts if it exploits or threat occurrence are realized. This is a procedure of preparing a complete aggregated list of risks and their execution impact. In mobile devices mitigation will finally include a type of
        hard and soft mitigations. We thoroughly access the complete mobile application.</p>

    <br>

    <br>
    <h1 style="text-decoration: #0F9D58 underline; font-family: Arial, Helvetica, sans-serif;">Methodologies</h1>
    <br>
    <!-- 1 -->
    <p>
        <button class="btn1 btn-primary" style="border-radius: 5px; height: 50px;" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
                Insecure Data Storage
            </button>
    </p>
    <div class="collapse" id="collapseExample1">
        <div class="card1 card-body">
            Provide quality workmanship and exemplary client service. Employee people of the highest integrity and skill. Sensitive data such as backdoors, API key or configuration files containing passwords may be present on the Mobile app and accessible via reverse
            engineering.
        </div>
    </div>

    <!-- 2 -->
    <p>
        <button class="btn2 btn-primary" style="border-radius: 5px; height: 50px;" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                Privacy Concerns
                </button>
    </p>
    <div class="collapse" id="collapseExample2">
        <div class="card2 card-body">
            Assess the application's compliance with regards to privacy according to the Mobile Marketing Association's (MMA) Privacy Policy Framework.
        </div>
    </div>

    <!-- 3 -->
    <p>
        <button class="btn3 btn-primary" style="border-radius: 5px; height: 50px;" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                Insufficient Transport Layer Protection
                    </button>
    </p>
    <div class="collapse" id="collapseExample3">
        <div class="card3 card-body">
            Complete lack of encryption for transmitted information. Weakly encrypted data in transit.
        </div>
    </div>

    <!-- 4 -->

    <p>
        <button class="btn4 btn-primary" style="border-radius: 5px; height: 50px;" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                Client Side Injection
                        </button>
    </p>
    <div class="collapse" id="collapseExample4">
        <div class="card4 card-body">
            SQL Injection on customer devices can be extreme if your application deals in excess of one client account on a single application or a shared device, or paid-for-only content.
        </div>
    </div>

    <!-- 5 -->
    <p>
        <button class="btn5 btn-primary" style="border-radius: 5px; height: 50px;" type="button" data-toggle="collapse" data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
                    Poor Authorization and Authentication
                            </button>
    </p>
    <div class="collapse" id="collapseExample5">
        <div class="card5 card-body">
            To ensure only approved clients can perform permitted activities inside their privilege level. As a few applications depend entirely on changeless, potentially compromised values (IMEI, IMSI, and UUID).
        </div>
    </div>

    <!-- 6 -->
    <p>
        <button class="btn6 btn-primary" style="border-radius: 5px; height: 50px;" type="button" data-toggle="collapse" data-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample">
                        Cookies Poisoning
                                </button>
    </p>
    <div class="collapse" id="collapseExample6">
        <div class="card6 card-body">
            Change cookie data to access sensitive information or impersonate another user.
        </div>
    </div>

    <!-- 7 -->
    <p>
        <button class="btn7 btn-primary" style="border-radius: 5px; height: 50px;" type="button" data-toggle="collapse" data-target="#collapseExample7" aria-expanded="false" aria-controls="collapseExample">
                            Improper Session Handling
                                    </button>
    </p>
    <div class="collapse" id="collapseExample7">
        <div class="card7 card-body">
            Mobile applications have much longer sessions. They use generally HTTP Cookies, Oath Tokens, and SSO, SMS, GPRS and IVRS.
        </div>
    </div>

    <!-- 8 -->
    <p>
        <button class="btn8 btn-primary" style="border-radius: 5px; height: 50px;" type="button" data-toggle="collapse" data-target="#collapseExample8" aria-expanded="false" aria-controls="collapseExample">
                Weak Server Side Controls
                                        </button>
    </p>
    <div class="collapse" id="collapseExample8">
        <div class="card8 card-body">
            Applies to the backend services.
        </div>
    </div>

    <!-- 9 -->
    <p>
        <button class="btn9 btn-primary" style="border-radius: 5px; height: 50px;" type="button" data-toggle="collapse" data-target="#collapseExample9" aria-expanded="false" aria-controls="collapseExample">
                Secure Release and Deployment of Mobile Apps in the Store
                            </button>
    </p>
    <div class="collapse" id="collapseExample9">
        <div class="card9 card-body">
            Proper code signing techniques, secure permissions controls, key management and secure deployment at mobile app store.
        </div>
    </div>

    <!-- 10 -->
    <p>
        <button class="btn10 btn-primary" style="border-radius: 5px; height: 50px;" type="button" data-toggle="collapse" data-target="#collapseExample10" aria-expanded="false" aria-controls="collapseExample">
                    Device Security
                                </button>
    </p>
    <div class="collapse" id="collapseExample10">
        <div class="card10 card-body">
            Mobile Device management rule set implementation for certain features restricted access to application/file structure on the device, restricted access to settings where attackers pretend to change settings and perform intercepting scenarios.
        </div>
    </div>

</div>