<h1 class="head col-lg-12 col-md-12 col-sm-12" style="text-align: center; margin-top: 7%; text-decoration: #4285F4 underline overline; ">Our Experts</h1>

<div class="container-fluid offset-sm-2 offset-md-2 offset-lg-0" style="margin-top: 1%;">
    <!-- Expert 1 -->
    <div id="main-card col-lg-3 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1" style="float: left; margin: 5%;">
        <div class="cover-photo"></div>
        <div class="photo">
            <img src="../../assets/Images/bhanu.JPG" width="100px;" height="100px;" alt="founder">
        </div>
        <div class="content">
            <h3 class="name">Bhanu Gudheniya</h3>
            <hr style="width: 70%;">
            <p class="work">Founder, CEO, Director</p>
            <p class="expert"> Cyber Security Expert</p>

            <a href="mailto:bhanugudheniya1409@gmail.com">bhanugudheniya1409@gmail.com</a>
        </div>
        <br>
        <br>
        <div class="contact">
            <ul>
                <a href="https://www.linkedin.com/in/bhanu-gudheniya-b833a8170/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="https://github.com/bhanugudheniya" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
                <!-- <a href="https://codepen.io/Adhouma/" target="_blank">
                <i class="fa fa-codepen"></i>
            </a> -->
            </ul>
        </div>
    </div>

    <!-- Expert 2 -->
    <div id="main-card col-lg-3 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1" style="float: left; margin: 5%;">
        <div class="cover-photo"></div>
        <div class="photo">
            <img src="../../assets/Images/expert/shilpy.jpg" height="100px;" width="100px;" alt="">
        </div>
        <div class="content">
            <h3 class="name">Shiply Tyagi</h3>
            <hr style="width: 70%;">
            <p class="work">Borad Of Director</p>
            <p class="expert">Android Security Expert</p>

            <a href="mailto:#">Shilpytyagi@gmail.com</a>
        </div>
        <br>
        <br>
        <div class="contact">
            <ul>
                <a href="#" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
                <!-- <a href="https://codepen.io/Adhouma/" target="_blank">
                <i class="fa fa-codepen"></i>
            </a> -->
            </ul>
        </div>
    </div>

    <!-- Expert 3 -->
    <div id="main-card col-lg-3 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1" style="float: left; margin: 5%;">
        <div class="cover-photo"></div>
        <div class="photo">
            <img src="../../assets/Images/expert/simran.jpg" height="100px;" width="100px;" alt="">
        </div>
        <div class="content">
            <h3 class="name">Simran Kaur Bhogal</h3>
            <hr style="width: 70%;">
            <p class="work">Borad Of Director</p>
            <p class="expert">Full Stack Developer</p>

            <a href="mailto:#">kaursimran@gmail.com</a>
        </div>
        <br>
        <br>
        <div class="contact">
            <ul>
                <a href="#" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
                <!-- <a href="https://codepen.io/Adhouma/" target="_blank">
                <i class="fa fa-codepen"></i>
            </a> -->
            </ul>
        </div>
    </div>

    <!-- Expert 4 -->
    <div id="main-card col-lg-3 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1" style="float: left; margin: 5%;">
        <div class="cover-photo"></div>
        <div class="photo">
            <img src="../../assets/Images/expert/Ashish.jpg" width="100px;" height="100px;" alt="">
        </div>
        <div class="content">
            <h3 class="name">Ashish Sharma</h3>
            <hr style="width: 70%;">
            <p class="work">Borad Of Director</p>
            <p class="expert">Network Security Expert</p>

            <a href="mailto:#">sharmashish@gmail.com</a>
        </div>
        <br>
        <br>
        <div class="contact">
            <ul>
                <a href="#" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
                <!-- <a href="https://codepen.io/Adhouma/" target="_blank">
                <i class="fa fa-codepen"></i>
            </a> -->
            </ul>
        </div>
    </div>

    <!-- Expert 5 -->
    <div id="main-card col-lg-3 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1" style="float: left; margin: 5%;">
        <div class="cover-photo"></div>
        <div class="photo">
            <img src="../../assets/Images/kamal.jpg" height="100px;" width="100px;" alt="">
        </div>
        <div class="content">
            <h3 class="name">Kamal Kathuria</h3>
            <hr style="width: 70%;">
            <p class="work">Borad Of Director</p>
            <p class="expert">Red Teaming Expert</p>

            <a href="mailto:#">kamalkathuria@gmail.com</a>
        </div>
        <br>
        <br>
        <div class="contact">
            <ul>
                <a href="#" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
                <!-- <a href="https://codepen.io/Adhouma/" target="_blank">
                <i class="fa fa-codepen"></i>
            </a> -->
            </ul>
        </div>
    </div>

    <!-- Expert 6 -->
    <div id="main-card col-lg-3 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1" style="float: left; margin: 5%;">
        <div class="cover-photo"></div>
        <div class="photo">
            <img src="../../assets/Images/shobit.jpg" height="100px;" width="100px;" alt="">
        </div>
        <div class="content">
            <h3 class="name">Shobit Khatri</h3>
            <hr style="width: 70%;">
            <p class="work">Borad Of Director</p>
            <p class="expert">Technical Associate</p>

            <a href="mailto:#">shobitkhatri@gmail.com</a>
        </div>
        <br>
        <br>
        <div class="contact">
            <ul>
                <a href="#" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
                <!-- <a href="https://codepen.io/Adhouma/" target="_blank">
                <i class="fa fa-codepen"></i>
            </a> -->
            </ul>
        </div>
    </div>
</div>