<div class="HeadName container-fluid" style="margin-top: 10%;">
    <h1 class="head col-lg-12 col-md-12 col-sm-12" style="text-align: center; margin-top: 3%; text-decoration: #4285F4 underline overline; ">Red Teaming</h1>
</div>
<br>
<br>

<img src="../../assets/Images/redTeaming.jpg" class="vaptImage" alt="Responsive image" style="width: 100%; background-size: cover;">

<br>
<br>

<div class="vaptMain" style="width: 80%; margin: 10%;">
    <h1 style="text-decoration: #4285F4 underline; font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Red Teaming</h1>
    <br>

    <hr style="border: 2px solid lightgray; border-radius: 1px;">

    <br>
    <h3 style="text-decoration: rgb(255, 176, 28) underline; font-family: Arial, Helvetica, sans-serif;">Digital Forensic and Investigation</h3>
    <br>

    <p style="font-family: 'Courier New', Courier, monospace; font-size:100%;">Red Teaming is a full-scope; multi-layered effective simulation intended to gauge how well an organization's people and systems, applications and physical security controls can withstand an assault from a genuine adversary.</p>

    <br>
    <br>

    <br>
    <div class="container-fluid " style="width: 100%;">
        <h2 style="text-align: center; text-decoration: #0F9D58 underline; font-family: Arial, Helvetica, sans-serif;">This Is Purely Ethical Hacking</h2>
        <br>
        <h3 style="text-align: center; text-decoration: rgb(255, 176, 28) underline; font-family: Arial, Helvetica, sans-serif;">Challenge Yourself</h3>
        <br>
        <div class="left col-lg-12 col-md-12 col-sm-12" style="float: left; width: 100%; margin-left: 1%;">
            <ul type="circle" style="font-family:'Courier New', Courier, monospace; font-size: 120%; color: white; background-image: linear-gradient(to left, #000000, #161616, #242424, #343434, #444444, #494949, #4f4f4f, #545454, #4f4f4f, #4a4a4a, #464646, #414141);">
                <li class="list">
                    <p>Challenge your organizations IT infrastructure, analytic assumptions and finding faulty loops and logic.</p>
                </li>
                <li class="list">
                    <p>Check system software’s, routers, networks and appliances through the eye of an adversary.</p>
                </li>
                <li class="list">
                    <p>Challenge systems according to a hackers mind and try using different techniques.</p>
                </li>
                <li class="list">
                    <p>The potential red teaming operation doesn’t end up with the discovery phase. You need to work with a red team consultant that offer remediation assistance and re-testing. After all, the real examination happens in the week or even
                        months of effort it takes after our initial engagement to implement remediation controls.</p>
                </li>
                <li class="list">
                    <p>Comprehensive red teaming covers pen testing, social engineering, and physical intrusion.</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr style="border: 5px solid rgb(206, 206, 206);">