<img src="../../assets/Images/head1.PNG" class="img-fluid" width="100%;" style="background-size: cover;" alt="Responsive image">

<!-- Corporate Profile -->
<div>
    <div class="container-fluid">
        <div class="text-group col-lg-6 col-md-8 col-sm-12">
            <h5 class="text-title">Corporate <br><span style="text-decoration: #4285F4 underline"> Profile</span></h5>
            <p class="text-text">Indian Cyber Security Wing is an industry leader and most trusted cyber security partner for their clients to protect networks and information assets from malicious activities such as cyber- attacks with the underlying motto of <span style="font-weight: bold">"Securing Cyberspace:
                    Securing Future". </span></p>
        </div>
    </div>



    <div class=" picText1 container-fluid col-lg-6 col-md-8 col-sm-12">
        <img src="../../assets/Images/lock.jpg" class="image1" alt="img">
    </div>
</div>


<br>
<br>

<!-- Managing Risk -->
<div>
    <div class=" picText1 container-fluid col-lg-6 col-md-8 col-sm-12">
        <img src="../../assets/Images/security.jpeg" class=" image1 " alt="img ">
    </div>

    <div class="container-fluid ">
        <div class="text-group col-lg-6 col-md-8 col-sm-12 ">
            <h5 class="text-title ">Managing<br><span style="text-decoration: #4285F4 underline "> Cyber Risk</span></h5>
            <p class="text-text">Indian Cyber Security Wing multi-layered cyber security process helps your organizations to ensure that the parameters are not vulnerable for any fraudulent attacks. It’s a procedure of distinguishing and organizing approaching threats. Depending
                upon the condition of your applications, regardless of whether created in-house or by an outsider is basic to reinforce your general security stance and meet consistent requirements. Our dedicated team with latest hacking trends discover
                the point of danger, analyse the condition and respond appropriately. ICSW analyse the organizations assessment & testing needs, extensive testing of internal network and external network and application layers to provide remedies for
                risks and vulnerabilities.
            </p>
        </div>
    </div>
</div>