<div class="container-fluid" style="margin-top: 10%;">
    <p class="teamHead col-lg-12 col-md-12 col-sm-12"><span style="margin-left:8%; text-decoration: #4285F4 underline overline; font-family:'Courier New', Courier, monospace; font-size: 280%;"> Career </span></p>
</div>

<br>
<br>
<br>
<div class="career1 container-fluid col-lg-12 col-md-12 col-sm-12" style="border: 1px solid darkgray; width: 90%; border-radius: 10px; filter: drop-shadow(10px);">
    <div class="aboutSecurity" style="margin: 2%;">
        <h1 style="text-decoration: #4285F4 underline; background-color: lightgrey; border-radius: 5px;">Security/ Privacy Engineer</h1>
        <hr style="border: 5px solid #5D6D7E; border-radius: 2px;">
        <!-- about the job -->
        <h2 style="text-decoration: rgb(143, 140, 136) underline;">About The Job</h2>
        <br>
        <p>There's no such thing as a "safe system" - only safer systems. Our Security team works to create and maintain the safest operating environment for ICSW's users and developers. As a Security Engineer, you help protect network boundaries, keep computer
            systems and network devices hardened against attacks and provide security services to protect highly sensitive data like passwords and customer information. Security Engineers work hands-on with network equipment and actively monitor our systems
            for attacks and intrusions. You also work with software engineers to proactively identify and fix security flaws and vulnerabilities.<br> <br> You use your industry experience to own and drive the resolution of complex security incidents,
            policy questions and technical security issues.
            <br><br> ICSW is creating technologies that will revolutionize how people connect and interact with each other and information. Security and Privacy are critical components to these new solutions.<br><br> In this role, you are passionate about
            information security and privacy and want to help keep the world safe. You will be on the front lines of security and privacy incidents from all around the company, setting the tempo and driving resolution. You’ll set the bar for excellence
            in rapid response and protection of user information.<br><br> Behind everything our users see online is the architecture built by the Technical Infrastructure team to keep it running. From developing and maintaining our data centers to building
            the next generation of ICSW platforms, we make ICSW's product portfolio possible. We're proud to be our engineers' engineers and love voiding warranties by taking things apart so we can rebuild them. We're always on call to keep our networks
            up and running, ensuring our users have the best and fastest experience possible.</p>

        <hr style="border: 3px solid lightgray; border-radius: 1px;">

        <!-- responsiblity -->
        <h2 style="text-decoration: orange underline;">Responsiblity</h2>
        <br>
        <ul>
            <li style="list-style-type:circle;">
                Coordinate and drive resolution on a diverse range of incidents.
            </li>
            <li style="list-style-type:circle;">
                Analyze root causes, trends, and systemic issues.
            </li>
            <li style="list-style-type:circle;">
                Improve the security and privacy of ICSW’s products and services.
            </li>
            <li style="list-style-type:circle;">
                Develop excellence in Incident Management through tools and infrastructure and prepare teams across ICSW through exercises and training.
            </li>
            <li style="list-style-type:circle;">
                Manage relationships across the company (e.g., Legal, Engineering, Communications, etc.).
            </li>
        </ul>

        <hr style="border: 3px solid lightgray; border-radius: 1px;">

        <!-- Qualification -->

        <h2 style="text-decoration: orange underline;">Preferred Qualifications</h2>
        <br>
        <ul style="list-style-type:circle;">
            <li>
                MS degree in Computer Science.
            </li>
            <li>
                Experience with Python, Go, C/C++ and/or Java.
            </li>
            <li>
                Understanding of legal, information security, and privacy frameworks (e.g., ISO 27001 and Safe Harbor Frameworks).
            </li>
            <li>
                Ability to lead teams of people in ambiguous situations through influence and not authority.
            </li>
            <li>
                Excellent organizational, prioritization, and multitasking skills.
            </li>
            <li>
                Excellent communication skills and a data-driven analytical approach toward solving complex challenges.
            </li>
        </ul>
        <hr>
        <button type="button" class="btn btn-outline-primary" [routerLink]="['/jobform']">Apply</button>
    </div>
</div>

<br>

<!-- Network Deployement Engineer -->

<div class="career2 container-fluid col-lg-12 col-md-12 col-sm-12" style="border: 1px solid darkgray; width: 90%; border-radius: 10px; filter: drop-shadow(10px);">
    <div class="aboutSecurity" style="margin: 2%;">
        <h1 style="text-decoration: #4285F4 underline; background-color: lightgrey; border-radius: 5px;">Network Engineer</h1>
        <hr style="border: 5px solid #5D6D7E; border-radius: 2px;">
        <!-- about the job -->
        <h2 style="text-decoration: orange underline;">About The Job</h2>
        <br>
        <p>ICSW is proud to boast a network that provides service to millions of Internet users around the world. The Network Engineering team is responsible for operating that network reliably and at scale. As a member of the team, you have a direct impact
            on design and feature enhancements to keep our systems running smoothly. You also ensure that network operations are safe and efficient by monitoring network performance, coordinating planned maintenance, adjusting hardware components and
            responding to network connectivity issues. ICSW's complex network generates a constant stream of challenges which require you to continually be innovative with an evolving set of technologies. Keeping the network reliable ensures that our
            users stay connected with our suite of applications, products and services.<br><br> ICSWers’ experience has always been core to all we do in CorpNet. We aspire to provide a predictable experience for ICSWer with connectivity, mobility, security,
            privacy, and performance everywhere! At the same time, we want to support Partner TI Teams’ objectives and policies as well as serve PA/Alphabet requests. We also want to make our Corporate Network a platform to enable new services/experiences
            for ICSWers - IOT, next-gen workspace, context-aware user experiences. Software Engineering and Network Engineering together to write code automating the Corp network, writing networking software and design the network.<br><br> Behind everything
            our users see online is the architecture built by the Technical Infrastructure team to keep it running. From developing and maintaining our data centers to building the next generation of ICSW platforms, we make ICSW's product portfolio possible.
            We're proud to be our engineers' engineers and love voiding warranties by taking things apart so we can rebuild them. We keep our networks up and running, ensuring our users have the best and fastest experience possible.</p>

        <hr style="border: 3px solid lightgray; border-radius: 1px;">

        <!-- responsiblity -->
        <h2 style="text-decoration: orange underline;">Responsiblity</h2>
        <br>
        <ul>
            <li style="list-style-type:circle;">
                Engage in and improve the lifecycle of services—from inception and design, through deployment, operation and refinement.
            </li>
            <li style="list-style-type:circle;">
                Design and build reusable designs and systems that promote scale, reliability, security and efficiency.
            </li>
            <li style="list-style-type:circle;">
                Support the Corporate Network, the software and systems that manage the network, and function as technical, engineering and operational subject matter expert.
            </li>
            <li style="list-style-type:circle;">
                Work with partner teams to build/re-use open source or common ICSW systems wherever possible to accelerate development and delivery of the platform.
            </li>
            <li style="list-style-type:circle;">
                Participate in on call schedule with other members of the team providing third-tier support, and solving complex issues.
            </li>
        </ul>

        <hr style="border: 3px solid lightgray; border-radius: 1px;">

        <!-- Qualification -->

        <h2 style="text-decoration: orange underline;">Preferred Qualifications</h2>
        <br>
        <ul style="list-style-type:circle;">
            <li>
                Bachelor's degree in Computer Science or related technical field or equivalent practical experience.
            </li>
            <li>
                Experience working with data structures, complexity analysis and software design.
            </li>
            <li>
                Experience in large data center networks, SDN and Cloud Networking.
            </li>
            <li>
                Experience working with Unix systems administration, and network protocols troubleshooting.
            </li>
        </ul>
        <hr>
        <button type="button" class="btn btn-outline-primary" [routerLink]="['/jobform']">Apply</button>
    </div>
</div>

<br>

<!-- Android Developer -->

<div class="career3 container-fluid col-lg-12 col-md-12 col-sm-12" style="border: 1px solid darkgray; width: 90%; border-radius: 10px; filter: drop-shadow(10px);">
    <div class="aboutSecurity" style="margin: 2%;">
        <h1 style="text-decoration: #4285F4 underline; background-color: lightgrey; border-radius: 5px;">Technical Solutions Engineer, Android Developer</h1>
        <hr style="border: 5px solid #5D6D7E; border-radius: 2px;">
        <!-- about the job -->
        <h2 style="text-decoration: orange underline;">About The Job</h2>
        <br>
        <p>The ICSW Cloud team helps companies, schools, and government seamlessly make the switch to ICSW products and supports them along the way. You swiftly problem-solve technical issues for customers to show how our products can make businesses more
            productive, collaborative, and innovative. You work closely with a cross-functional team of web developers and systems administrators, not to mention a variety of both regional and international customers. Your relationships with customers
            are crucial in helping ICSW grow its ICSW Cloud business and in bringing our product portfolio into companies around the world. <br><br> Our Technical Solutions Engineers helps our largest customer resolve technical challenges and provides
            level two support to our other support teams. You will be a part of a global team that provides 24x7 support to help customers seamlessly make the switch to ICSW Cloud. When customers cannot resolve issues themselves, your job is to ensure
            that we have the necessary tools and processes to swiftly resolve the issue with as little customer effort as possible. <br><br> As a Technical Solutions Engineer, you will identify root problems to resolve them and prevent them from happening
            again alongside a team of engineers. You will troubleshoot technical problems for customers with a mix of debugging, networking, system administration, updating documentation, and coding/scripting. You will make improvements to product, tools,
            processes, and documentation. <br><br> ICSW Cloud helps millions of employees and organizations empower their employees, serve their customers, and build what’s next for their business — all with technology built in the cloud. Our products
            are engineered for security, reliability and scalability, running the full stack from infrastructure to applications to devices and hardware. And our teams are dedicated to helping our customers — developers, small and large businesses, educational
            institutions and government agencies — see the benefits of our technology come to life.</p>

        <hr style="border: 3px solid lightgray; border-radius: 1px;">

        <!-- responsiblity -->
        <h2 style="text-decoration: orange underline;">Responsiblity</h2>
        <br>
        <ul>
            <li style="list-style-type:circle;">
                Manage the customer’s problem through effective diagnosis, resolution, or implementation of new investigation tools to increase productivity for customer issues on ICSW Cloud Platform products.
            </li>
            <li style="list-style-type:circle;">
                Develop an in-depth understanding of ICSW's product technology and underlying architectures by troubleshooting, reproducing, determining the root cause for customer reported issues, and building tools for faster diagnosis, so we can identify and resolve
                future issues quickly.
            </li>
            <li style="list-style-type:circle;">
                Act as a consultant and subject matter expert for internal stakeholders in Engineering, Sales, and customer organizations to resolve technical deployment obstacles and improve ICSW Cloud.
            </li>
            <li style="list-style-type:circle;">
                Work closely with multiple Product and Engineering teams to find ways to improve the product. Interact with our Site Reliability Engineering (SRE) teams to drive high-quality production.
            </li>
            <li style="list-style-type:circle;">
                Proactively understand customer issues and advocate for their needs with cross-functional teams like Product Management or Software Engineering.
            </li>
        </ul>

        <hr style="border: 3px solid lightgray; border-radius: 1px;">

        <!-- Qualification -->

        <h2 style="text-decoration: orange underline;">Preferred Qualifications</h2>
        <br>
        <ul style="list-style-type:circle;">
            <li>
                Bachelor's degree in Computer Science, related technical field, or equivalent practical experience.
            </li>
            <li>
                Experience in Technical Support, Professional Services, Engineering, Sustaining Engineering, and/or Systems Engineering capacity.
            </li>
            <li>
                Experience managing hosted services/SaaS, programming/scripting in Java, C, C++, and/or Python.
            </li>
            <li>
                Experience with web and mail-related standards (e.g., HTTP, HTML, cookie-based SSO, SMTP).
            </li>
            <li>
                Experience implementing, troubleshooting, and supporting internet-based applications, web servers and mail servers.
            </li>
            <li>
                Experience working with various Database Management Systems, data mining and analysis.
            </li>
            <li>
                Ability to keep pace with rapid changes in enterprise products.
            </li>
            <li>
                Effective troubleshooting, follow-through, problem solving skills, resourcefulness, attention to detail, and verbal and written communication skills.
            </li>
            <li>
                Developed network administration and troubleshooting skills, with an understanding of Linux/Unix system administration.
            </li>
            <li>
                Ability to speak and write in English and Japanese fluently and idiomatically.
            </li>
        </ul>

        <hr>
        <button type="button" class="btn btn-outline-primary" [routerLink]="['/jobform']">Apply</button>
    </div>
</div>

<br>
<br>

<hr>