<div class="HeadName container-fluid" style="margin-top: 10%;">
    <h1 class="head col-lg-12 col-md-12 col-sm-12" style="text-align: center; margin-top: 3%; text-decoration: #4285F4 underline overline; ">VAPT: Vulnerability Assessment & Penetration Testing</h1>
</div>
<br>
<br>

<img src="../../assets/Images/vapt.jpg" class="vaptImage" alt="Responsive image" style="width: 100%; background-size: cover;">

<br>
<br>

<div class="vaptMain" style="width: 80%; margin: 10%;">
    <h1 style="text-decoration: #4285F4 underline; font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">What is VA/PT</h1>
    <br>

    <hr style="border: 2px solid lightgray; border-radius: 1px;">

    <br>
    <h3 style="text-decoration: rgb(255, 176, 28) underline; font-family: Arial, Helvetica, sans-serif;">Vulnerability Assessment</h3>
    <br>
    <p style="font-family: 'Courier New', Courier, monospace; font-size:100%;">Vulnerability Assessment is all about analyzing the organization’s network with the necessary knowledge, awareness and risk background to understand the threats to its environment and react appropriately. With the same area in focus, we perform different
        mechanism tasks. Using different tools and techniques, we perform diverse testing’s and find out the risk, check how they impact in real scenario & fix all types of risks that could be a cause of the attack.</p>

    <br>
    <br>
    <h3 style="text-decoration: rgb(255, 176, 28) underline; font-family: Arial, Helvetica, sans-serif;">Penetration Testing</h3>
    <br>
    <p style="font-family: 'Courier New', Courier, monospace; font-size:100%;">The goal of penetration testing completely relies on the type of activities performed for a particular engagement with its primary goal focusing on finding vulnerabilities that some heinous identity could use to destroy and inform the client about
        all the risks with the recommended strategic approach. There are additionally various programming structures that are utilized to expose vulnerabilities. Internal and External infrastructure pen testing performed by Indian Cyber Security Wing
        experts against exploitable loopholes and also review the components within an organization.</p>

    <br>
    <br>
    <h2 style="text-decoration: #0F9D58 underline; font-family: Arial, Helvetica, sans-serif;">ICSW Advance Vulnerability Assessment and Penetration Testing (VAPT) Framework</h2>
    <br>
    <br>
    <div class="container-fluid">
        <img src="../../assets/Images/vapt.PNG" class="vaptProcessImage col-lg-12 col-md-12 col-sm-12" alt="Responsive image">
    </div>
</div>

<hr>