<div class="HeadName container-fluid" style="margin-top: 10%;">
    <h1 class="head col-lg-12 col-md-12 col-sm-12" style="text-align: center; margin-top: 3%; text-decoration: #4285F4 underline overline; ">Network Security Assessment</h1>
</div>
<br>
<br>

<img src="../../assets/Images/data-network.jpg" class="networkImage" alt="Responsive image" style="width: 100%; background-size: cover;">

<br>
<br>

<div class="networkMain" style="width: 80%; margin: 10%;">
    <h1 style="text-decoration: orange underline; font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Network Security Assessment</h1>
    <br>
    <hr style="border: 2px solid lightgray; border-radius: 1px;">

    <br>
    <p style="font-family: 'Courier New', Courier, monospace; font-size:100%;">NSA (Network Security Assessment) is actually an integral part of network security cycle. Loads of companies in the class have confronted these types of security risks. Network Security Assessment is the prioritized process for every organization.
        Our dedicated network scan team with the latest hacking trends discover the point of danger, analyze the condition and respond appropriately.<br><br> Indian Cyber Security Wing analyses the organizations testing needs and extensive testing of
        internal network, external network, application layers and provide remedies for risks and vulnerabilities. We provide a proactive approach to network vulnerabilities.</p>
</div>

<div>
    <div class="networkMain" style="width: 80%; margin-left: 10%; margin-bottom: 1%;">
        <h1 style="text-decoration: #0F9D58 underline; font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">NPT Methodology</h1>


        <hr style="border: 2px solid lightgray; border-radius: 1px;">

        <!-- cards -->

        <div class="container-fluid col-lg-12 col-md-12 col-sm-12" style="float: left; width: 100%; margin: 2%;">
            <div class="card border-dark mb-3" id="c1" style="max-width: 100%; margin: 2%; float: left;">
                <div class="card-header" style="font-size: 180%;">Model Threats</div>
                <div class="card-body text-dark">
                    <p class="card-text">We will plan the testing, the methodology is based on swift guidelines and OWASP standards for best practices. TAC will use automated web application scanning tool to perform automated scans on this web application.</p>
                </div>
            </div>

            <!-- 2 -->

            <div class="card border-dark mb-3" id="c2" style="max-width: 100%; margin: 2%; float: left;">
                <div class="card-header" style="font-size: 180%;">Scan</div>
                <div class="card-body text-dark">
                    <p class="card-text">We will establish and acquire the information required to successfully define the scope of security penetration testing. This involves gathering information and completing an initial threat analysis to ensure that testing emulates
                        the threats that are of real concern to the client.</p>
                </div>
            </div>
        </div>

        <!-- ***************************************************** -->
        <div class="container-fluid col-lg-12 col-md-12 col-sm-12" style="float: left;  width: 100%; margin: 2%;">
            <div class="card border-dark mb-3" id="c3" style="max-width: 100%; margin: 2%; float: left;">
                <div class="card-header" style="font-size: 180%;">Manual Penetration Testing</div>
                <div class="card-body text-dark">
                    <p class="card-text">The manual penetration testing stage is the core validation point for the previously identified weaknesses. Where appropriate, we will attempt controlled exploitation of the identified weaknesses to demonstrate risk and exposure. During
                        this step, we will attempt to gain access to the company’s web applications from the internet to gather whole information.</p>
                </div>
            </div>

            <!-- 2 -->

            <div class="card border-dark mb-3" id="c4" style="max-width: 100%; margin: 2%; float: left;">
                <div class="card-header" style="font-size: 180%;">Analyse Results & Reporting</div>
                <div class="card-body text-dark">
                    <p class="card-text">During the reporting stage, we will analyze the results of both the above stage. By referencing these results we would understand the threat scenarios, to produce a final report containing the different areas of weakness found and
                        the root causes for each weakness.</p>
                </div>
            </div>
        </div>

    </div>
</div>