/* .container-fluid {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
} */

#c1:hover {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #4285F4;
}

#c2:hover {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #DB4437;
}

#c3:hover {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #F4B400;
}

#c4:hover {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #0F9D58;
}