<div class="col-lg-4 offset-lg-3" style="margin-top: 7%;">
    <form>
        <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="Name">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputSubjectl4">Subject</label>
                <input type="email" class="form-control" id="inputEmail4" [(ngModel)]="subject" placeholder="Subject" name="subject">
            </div>
            <div class="form-group col-md-6">
                <label for="inputNumber4">Phone</label>
                <input type="text" class="form-control" id="inputPassword4" [(ngModel)]="phone" placeholder="Contact" name="phone">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="text" class="form-control" id="inputAddress" [(ngModel)]="email" name="email" placeholder="Email ID">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputMessage">Message</label>
                <input type="text" class="form-control" id="inputCity" name="message" [(ngModel)]="message" placeholder="Message">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="up_data()">Update</button>
    </form>
</div>

<br>
<br>