<div class="container-fluid" style="margin-top: 10%;">
    <p class="teamHead col-lg-12 col-md-12 col-sm-12"><span style="margin-left:8%; text-decoration: #4285F4 underline overline; font-family:'Courier New', Courier, monospace; font-size: 280%;"> Our Team </span></p>
</div>

<!-- Bhanu Section -->

<br>
<br>
<br>

<div class="Bhanu container-fluid col-lg-4 col-md-8 col-sm-12" style="height: 100%; width: 100%;">
    <img src="../../assets/Images/expert/bhanu.jpg" class="bhanuGudheniya" alt="image1">
</div>

<br>
<br>
<br>

<div class="BhanuTeamDescription col-lg-6 col-md-8 col-sm-8 offset-lg-3 offset-md-2 offset-sm-2" style="background-color: lightgrey; ">
    <p style="font-family:'Courier New', Courier, monospace; font-size:150%; text-align:center; margin: 4%;">Bhanu Gudheniya <br> Founder, Director, CEO</p>
</div>

<br>
<br>
<br>

<!-- Ashish Section -->
<hr style="color: lightblue;">
<br>
<br>
<br>

<div class="Bhanu container-fluid col-lg-4 col-md-8 col-sm-12" style="height: 100%; width: 100%;">
    <img src="../../assets/Images/expert/ashishbhai.jpg" class="bhanuGudheniya" alt="image1">
</div>

<br>
<br>
<br>

<div class="BhanuTeamDescription col-lg-6 col-md-8 col-sm-8 offset-lg-3 offset-md-2 offset-sm-2" style="background-color: lightgrey; ">
    <p style="font-family:'Courier New', Courier, monospace; font-size:150%; text-align:center; margin: 4%;">Ashish Sharma <br> Board Of Director</p>
</div>

<br>
<br>
<br>

<!-- Shilpy Section -->
<hr style="color: lightblue;">
<br>
<br>
<br>

<div class="Bhanu container-fluid col-lg-4 col-md-8 col-sm-12" style="height: 100%; width: 100%;">
    <img src="../../assets/Images/expert/shilpy.jpg" class="bhanuGudheniya" alt="image1">
</div>

<br>
<br>
<br>

<div class="BhanuTeamDescription col-lg-6 col-md-8 col-sm-8 offset-lg-3 offset-md-2 offset-sm-2" style="background-color: lightgrey; ">
    <p style="font-family:'Courier New', Courier, monospace; font-size:150%; text-align:center; margin: 4%;">Shilpy Tyagi <br> Board Of Director</p>
</div>

<br>
<br>
<br>

<!-- Simran Section -->
<hr style="color: lightblue;">
<br>
<br>
<br>

<div class="Bhanu container-fluid col-lg-4 col-md-8 col-sm-12" style="height: 100%; width: 100%;">
    <img src="../../assets/Images/expert/simran.jpg" class="bhanuGudheniya" alt="image1">
</div>

<br>
<br>
<br>

<div class="BhanuTeamDescription col-lg-6 col-md-8 col-sm-8 offset-lg-3 offset-md-2 offset-sm-2" style="background-color: lightgrey; ">
    <p style="font-family:'Courier New', Courier, monospace; font-size:150%; text-align:center; margin: 4%;">Simran Kaur Bogal <br> Board Of Director, HR</p>
</div>

<br>
<br>
<br>

<!-- Kamal Section -->
<hr style="color: lightblue;">
<br>
<br>
<br>

<div class="Bhanu container-fluid col-lg-4 col-md-8 col-sm-12" style="height: 100%; width: 100%;">
    <img src="../../assets/Images/expert/kamal.jpg" class="bhanuGudheniya" alt="image1">
</div>

<br>
<br>
<br>

<div class="BhanuTeamDescription col-lg-6 col-md-8 col-sm-8 offset-lg-3 offset-md-2 offset-sm-2" style="background-color: lightgrey; ">
    <p style="font-family:'Courier New', Courier, monospace; font-size:150%; text-align:center; margin: 4%;">Kamal Kathuria <br> Board Of Director</p>
</div>

<br>
<br>
<br>

<!-- Aditi Section -->
<hr style="color: lightblue;">
<br>
<br>
<br>

<div class="Bhanu container-fluid col-lg-4 col-md-8 col-sm-12" style="height: 100%; width: 100%;">
    <img src="../../assets/Images/expert/aditi.jpg" class="bhanuGudheniya" alt="image1">
</div>

<br>
<br>
<br>

<div class="BhanuTeamDescription col-lg-6 col-md-8 col-sm-8 offset-lg-3 offset-md-2 offset-sm-2" style="background-color: lightgrey; ">
    <p style="font-family:'Courier New', Courier, monospace; font-size:150%; text-align:center; margin: 4%;">Aditi Raj Shukla <br> Board Of Director</p>
</div>

<br>
<br>
<br>

<!-- Shobit Section -->
<hr style="color: lightblue;">

<div class="Shobit container-fluid col-lg-4 col-md-8 col-sm-12" style="height: 100%; width: 100%;">
    <img src="../../assets/Images/shobit.jpg" class="shobitKhatri" alt="image3">
</div>

<br>
<br>
<br>

<div class="ShobitTeamDescription col-lg-6 col-md-8 col-sm-8 offset-lg-3 offset-md-2 offset-sm-2" style="background-color: lightgray;">
    <p style="font-family: 'Courier New', Courier, monospace; font-size: 150%; text-align: center; margin: 4%;">Shobit Khatri <br> Board of Director</p>
</div>

<hr>