.Bhanu {
    height: 400px;
    width: 40%;
    text-align: center;
}

.bhanuGudheniya {
    height: 100%;
    width: 100%;
}

.Shobit {
    height: 400px;
    width: 40%;
    text-align: center;
}

.shobitKhatri {
    height: 100%;
    width: 100%;
}

.kamalKathuria {
    width: 100%;
    /* height: 100%; */
}