<!-- <div class="container-fluid">
    <div class="card-group col-lg-6 col-md-12 col-sm-12" style="max-width: 46%;">
        <div class="card-body">
            <h5 class="card-title">Corporate <br><span style="text-decoration: #4285F4 underline"> Profile</span></h5>
            <p class="card-text">Indian Cyber Security Wing is an industry leader and most trusted cyber security partner for their clients to protect networks and information assets from malicious activities such as cyber- attacks with the underlying motto of <span style="font-weight: bold">"Securing Cyberspace:
                    Securing Future". </span></p>
        </div>
    </div>
</div>

<div class="card " style="max-width: 46%;">
    <img src="../../assets/Images/lock.jpg" class="card-img-top" alt="img">
</div> -->