<div class="HeadName container-fluid" style="margin-top: 10%;">
    <h1 class="head col-lg-12 col-md-12 col-sm-12" style="text-align: center; margin-top: 3%; text-decoration: #4285F4 underline overline; ">Web Application Security Assessment</h1>
</div>
<br>
<br>

<img src="../../assets/Images/web.jpg" class="webImage" alt="Responsive image" style="width: 100%; background-size: cover;">

<br>
<br>

<div class="webMain" style="width: 80%; margin: 10%;">
    <h1 style="text-decoration: #4285F4 underline; font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Multi Layered Security Evaluation</h1>
    <br>

    <hr style="border: 2px solid lightgray; border-radius: 1px;">

    <br>

    <p style="font-family: 'Courier New', Courier, monospace; font-size:100%;">Web application business is on peak now a day. Web apps provide 24/7 access to a user for an effective and easy experience. But here with potentially exposed data, the application grabs hacker’s attention too. <br><br> Penetrating the condition of
        your applications, regardless of being created in-house or by an outsider is basic practice to reinforce your general security stance and meet consistent requirements. ICSW will work with IOB to identify web applications, its credentials, and
        the applications business flow logic. ICSW will leverage this information to perform manual penetration testing and automated scans. We follow multiple software tools and manual review procedures followed by false positive elimination.</p>

    <br>
    <br>

    <h3 style="text-decoration: rgb(255, 176, 28) underline; font-family: Arial, Helvetica, sans-serif;">Scan</h3>
    <br>
    <p style="font-family: 'Courier New', Courier, monospace; font-size:100%;">We will plan the testing; the testing methodology is based on OWASP standards. ICSW will use automated web application scanning tool to perform automated scans on this web application.</p>

    <br>
    <br>

    <h3 style="text-decoration: rgb(255, 176, 28) underline; font-family: Arial, Helvetica, sans-serif;">Manual Penetration Testing</h3>
    <br>
    <p style="font-family: 'Courier New', Courier, monospace; font-size:100%;">The manual penetration testing stage is the core validation point for the previously identified weaknesses. Where appropriate, we will attempt controlled exploitation of the identified weaknesses to demonstrate risk and level of exposure. During this
        step, we will attempt to gain greater levels of access to the company’s web applications from the internet to gather information about the applications. Here we will perform below testing: </p>

    <br><br>
    <ul>
        <li>
            Dynamic Testing (fuzzing, injections, traffic interception).
        </li>
        <li>
            System Testing (checking for logs, information records, registry keys, process strings).
        </li>
    </ul>

</div>

<div class="container-fluid " style="width: 100%;">
    <h2 style="text-align: center; text-decoration: #0F9D58 underline; font-family: Arial, Helvetica, sans-serif;">Vast Top 10 Essential Vulnerability Assessment Checks:</h2>

    <div class="left col-lg-4 col-md-10 col-sm-10" style="float: left; width: 100%; margin-left: 13%;">
        <ul>
            <li class="list">
                <p>SQL Injection Attacks.</p>
            </li>
            <li class="list">
                <p>Broken Authentication.</p>
            </li>
            <li class="list">
                <p>Broken Access Control.</p>
            </li>
            <li class="list">
                <p>Cross site Scripting.</p>
            </li>
            <li class="list">
                <p>Using components with known vulnerabilities.</p>
            </li>
        </ul>
    </div>

    <div class="left col-lg-4 col-md-10 col-sm-10" style="float: left; margin-left: 13%; width: 100%;">
        <ul>
            <li class="list">
                <p>Sensitive Data Exposure.</p>
            </li>
            <li class="list">
                <p>XML External Entities.</p>
            </li>
            <li class="list">
                <p>Security Misconfiguration.</p>
            </li>
            <li class="list">
                <p>Insecure De-serialization.</p>
            </li>
            <li class="list">
                <p>Insufficient logging and Monitoring.</p>
            </li>
        </ul>
        <br>
    </div>
</div>